<script setup lang="ts">
import MainView from './views/MainView.vue';
import LoginView from './views/LoginView.vue';
import { computed, onMounted, ref } from "vue";
import { useLoginStore } from "@/stores/Login";
const LoginStore = useLoginStore();
onMounted(() => {
  console.log("OnMounted")
  LoginStore.loadData();
});
</script>

<template>
  <LoginView v-if="!LoginStore.isLogin" />
  <MainView v-if="LoginStore.isLogin" @logout="LoginStore.logout" :LoginName="LoginStore.LoginName"/>
</template>

